.home-panel{
    margin-top: 25%;
}
.loginButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.width-90p{
    width: 90%;
}

.width-100p{
    width: 100%;
}

.login-panel {
    margin-top: 25%;
}

.form-panel{

}

html{
    height: 100%;
}

body{
    height: 100%;
}

.centeredContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100% - 72px - 42px);
}

.margin-bottom-20p{
    margin-bottom: 20px;
}

.grid-cell-action{
    width: 40px;
    padding: 0!important;
}

.margin-20{
    margin: 20px;
}

.width-100px{
    width: 100px;
}

.fill-parent {
    width: 100%;
    height: 100%;
}